
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

header {
    background-color: #9d0c85;
    color: beige;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

header .logo h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;       /* Espacio entre los enlaces */
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: beige;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave */
}


header nav ul li a:hover {
    background-color: beige; 
    color: black;
    padding: 12px 18px;   /* Aumentar el tamaño del enlace al hacer hover */
    border-radius: 12px;   /* Aumentar el redondeo al hacer hover */
    border-bottom: 2px solid white; /* Línea debajo del enlace */
}

.contenedor-imagen {
    position: absolute;
    width: 300px; 
    height: 200px;
    overflow: hidden; /* Asegura que la imagen no se desborde del contenedor */
    width: 100%;  
    height: 700px; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.imagen {
    position: absolute;
    top: 50%;      /* Comienza a la mitad de la pantalla */
    left: 50%;
    transform: translate(-50%, -50%);    /* Centra la imagen en el contenedor */
    width: 100%;
    height: 100%;
    opacity: 0;         /* Hace que la imagen esté invisible al principio */
    animation: moverImagen 6s ease-in-out forwards;      /* Aplica la animación */
    object-fit: cover;
}


@keyframes moverImagen {
    0% {
        transform: translate(-50%, -150%);   /* Empuja la imagen fuera de la pantalla desde arriba */
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -50%);   /* Centra la imagen en la pantalla */
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%);   /* Mantiene la imagen centrada al final */
        opacity: 1;
    }
}

.texto {
    position: absolute;
    top: 50%;    /* Centra el texto verticalmente */
    left: 50%;   /* Centra el texto horizontalmente */
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    opacity: 0;    /* Comienza invisible */
    animation: mostrarTexto 5s forwards;    /* Animación de aparición */
    z-index: 2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


@keyframes mostrarTexto {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%);    /* Inicia el texto desplazado hacia arriba */
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%);     /* El texto se centra */
    }
}


footer{
    z-index: 3;   /*son las capas de la página*/
    background-color: #9d0c85;
    text-align: center;
    padding: 20px;
    margin-top: auto; /*Hace que el pie de página se mantenga la parte de abajo*/
    width: 100%;
    color: beige;
    
}
